<!DOCTYPE HTML>
<html>
    <head>
        <title>Login with Facebook</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <style>
            body {
                
                text-align: center;
                background: #627aad;
                color: white;
                font-size: 1.5em;
            }
            #loginbox {
                min-width: 100px;
                max-width: 300px;
                width: 20%;
                margin: 150px auto auto auto;
                background: #3b5998;
                padding: 25px;
            }
            .container {
                border-radius: 0px;
            }
            a, a:hover{
                color: white;
                text-decoration: none;
            }

        </style>
    </head>
    <body>
        <div id ="loginbox">
        Login with your Facebook account to check in and out of bars. <br/>
        <br/>
        <a href="/auth/facebook" class="btn btn-primary">Login with Facebook</a>
        </div><br>
        <a href = "/">Go Home</a>
    </body>
</html>